<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FQVR.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>3BEB551E7CBBE8768F853030B32620D5E733D4F8</string>
				<key>dateExpires</key>
				<string>2018/12/22</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>9JF26XGJ42.live.wesee.app</string>
				<key>com.apple.developer.team-identifier</key>
				<string>9JF26XGJ42</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>9JF26XGJ42.live.wesee.app</string>
				</array>
			</dict>
			<key>name</key>
			<string>FQVR.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>02008350-b356-4407-aea5-4205098111cc</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: live.wesee.app</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>9JF26XGJ42</string>
				<key>name</key>
				<string>Weikan Information Technology (Guangzhou) Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
