<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>souqute.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D8A7613BB927A2E25B537FFDB173B06FED5F5FD4</string>
				<key>dateExpires</key>
				<string>2018/10/17</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D8A7613BB927A2E25B537FFDB173B06FED5F5FD4</string>
						<key>dateExpires</key>
						<string>2018/10/17</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C7FFSV9SD5</string>
						<key>name</key>
						<string>Guangzhou Yuanchuang Information Technology Company Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D8A7613BB927A2E25B537FFDB173B06FED5F5FD4</string>
						<key>dateExpires</key>
						<string>2018/10/17</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Kanna.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C7FFSV9SD5</string>
						<key>name</key>
						<string>Guangzhou Yuanchuang Information Technology Company Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D8A7613BB927A2E25B537FFDB173B06FED5F5FD4</string>
						<key>dateExpires</key>
						<string>2018/10/17</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C7FFSV9SD5</string>
						<key>name</key>
						<string>Guangzhou Yuanchuang Information Technology Company Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D8A7613BB927A2E25B537FFDB173B06FED5F5FD4</string>
						<key>dateExpires</key>
						<string>2018/10/17</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C7FFSV9SD5</string>
						<key>name</key>
						<string>Guangzhou Yuanchuang Information Technology Company Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D8A7613BB927A2E25B537FFDB173B06FED5F5FD4</string>
						<key>dateExpires</key>
						<string>2018/10/17</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C7FFSV9SD5</string>
						<key>name</key>
						<string>Guangzhou Yuanchuang Information Technology Company Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D8A7613BB927A2E25B537FFDB173B06FED5F5FD4</string>
						<key>dateExpires</key>
						<string>2018/10/17</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Toast_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C7FFSV9SD5</string>
						<key>name</key>
						<string>Guangzhou Yuanchuang Information Technology Company Limited</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>C7FFSV9SD5.cn.creativept.souqute</string>
				<key>com.apple.developer.team-identifier</key>
				<string>C7FFSV9SD5</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>C7FFSV9SD5.cn.creativept.souqute</string>
				</array>
			</dict>
			<key>name</key>
			<string>souqute.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>596144b1-dcec-45db-a95b-f394113e2357</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>C7FFSV9SD5</string>
				<key>name</key>
				<string>Guangzhou Yuanchuang Information Technology Company Limited</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
